<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movie recommendations</title>
</head>
<body>
    <div id="container">
    
    <h1 id="heading">Movie Recommendation System</h1>
    <form id="movieform">
        <label for="movieinput" id="name">Enter The Name of the Movie:</label>
        <input type="text" style="background: transparent;border-bottom: 2px solid black;" id="movieinput" name="movie" required style="position: absolute;">
        <button type="submit" style="position: relative; left: 100px;" id="button">show result</button>
    </form>

    <div id="recommendations" style="margin-top: 20px;">
        <h2 id="rec">some movies you should watch are:</h2>
        <ul id="movielist"></ul>
        
    </div>
</div>
    <script>
        document.getElementById('movieform').addEventListener('submit', async function(event) {
            event.preventDefault();
            const moviename = document.getElementById('movieinput').value;

            try {
                const response = await fetch('/predictdata', {
                    method: 'POST',
                    headers: {
                        'content-type': 'application/json'
                    },
                    body: JSON.stringify({ movie: moviename })
                });

                if (!response.ok) {
                    throw new Error('failed to fetch recommendations');
                }

                const result = await response.json();

                if (result.result && result.result.length > 0) {
                    const recommendations = result.result;

                    const movielist = document.getElementById('movielist');
                    movielist.innerHTML = ""; 
                    recommendations.forEach(function(movie) {
                        const listitem = document.createElement('li');
                        listitem.textContent = movie;
                        movielist.appendChild(listitem);
                    });
                } else {
                    const movielist = document.getElementById('movielist');
                    movielist.innerHTML = "<li>no recommendations found. try another movie.</li>";
                }

            } catch (error) {
                console.error('error fetching recommendations:', error);
                const movielist = document.getElementById('movielist');
                movielist.innerHTML = "<li>error fetching recommendations. try again later.</li>";
            }
        });
    </script>
    <link rel="stylesheet" href="./style.css">
    
</body>
</html>
