*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    height: auto;
}
#main::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(https://imgs.search.brave.com/glkDP3AxUReb5SfihvUP6n3fhTUD_9IEmA-Ve7-nFLg/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9nZXR3/YWxscGFwZXJzLmNv/bS93YWxscGFwZXIv/ZnVsbC82L2MvOS8x/NDk1NzU5LTRrLW1v/dmllLXdhbGxwYXBl/cnMtMzg0MHgyMTYw/LWZyZWUtZG93bmxv/YWQuanBn);
    /* background-color: rgb(156, 85, 221); */
  
    filter: blur(5px);
    background-repeat: no-repeat;
    background-size: cover;
   
    z-index: -1;
}
#main{
   position: absolute;
   width: 100%;
   height: 100vh;
   
    
    /* background-color: rgb(156, 85, 221); */
    display: flex;
  

 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
#heading{
    z-index: 10;
    font-size: 3.4em;
    width: 55%;
    text-align: center;
    position: absolute;
    top: 40px;
    color: rgb(250, 250, 250);
    font-weight: 700;
    border-radius: 10px;
    padding: 5px;
    /* background-clip: text; */
    background: linear-gradient(to right, #ff105f, #ffad06);
 
}
label{
    font-size: 1.5em;
    color: #0d0d0e;
    margin-top:0px;
    font-weight: 800;
}
input{
    font-size: 1.5em;
    padding: 5px;
    border-radius: 10px;
    border: none;
    width: 100%;
    margin-top: 10px;
}
input:focus{
  /* outline: none; */
    border: 1px solid gray;
    background-color: rgb(226, 225, 225);
 
   
}
h2{
    font-size: 2em;
    color: #0a0418;
    margin-top: 10px;
}
button{
    font-size: 2em;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.2s;
    background-color: #4e04fa;
    color: white;
    border: none;
    width: 50%;
    margin-top: 10px;
}
button:hover{
    
    background-color: hsl(258, 96%, 60%);
    cursor: pointer;
    border: none;
    width: 52%;
    
}
#movieform{
    text-align: center;
    position: relative;
}
#recommendations{
    height: 20vh;
    position: relative;
}
#recommendations ul{

color: #512fe8;
font-size: 1.1em;
font-weight: bold;
}
footer{
    position: relative;
    top: 0;
    /* width: 100%; */
    /* text-align: center; */
    color: #f0eef4;
    font-size: 1.1em;
   
    padding-left: 5px;
    /* height: 0vh; */
}
footer a img{
   width: 30px;
   height: 30px;
}